/* page 2 css */
body {
    width: 100%;
    height: 300vh;
    color: #fcfcfc;
    background: linear-gradient(-55deg, #ff56ff, #00CBFF, #ff56ff, #00CBFF), dodgerblue;
    background-size: 300% 300%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
     background-image: url("stubborn.gif");
    background-repeat: repeat;
    padding: -15px;
    background-blend-mode:lighten;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
.emerald {
    float: none;
    position: fixed;
    align-content: center;
    margin-left: 36%;
    margin-top:10%;
    z-index: 1;
}

/*

.stubbornPic {
    background-attachment: scroll;
    background-size: 15%;
    background-color: hotpink;
    background-image: url("stubborn.gif");
    background-repeat: repeat;
    padding: -15px;
    background-blend-mode:overlay;

}*/
