/* sis_wtf.css */


body {
    background-color: dodgerblue
    
}
h1{
    margin-left: 15%;
    margin-top: 3%;
    color: yellow;
    
}

.message {

    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -2%;
    background-color:#fcfcfc;
    padding: 3%;
    margin-left: 15%;
    border: .8em solid yellow;
    margin-bottom: 1%;
    height: auto;
    width: 40%;
}

h2 {

    font-size: .5em;
    letter-spacing: 2.5%;
    text-align: center;
    padding: 1%;
    color: dimgrey;
}

.ben {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    font-weight: 500;
    letter-spacing: -.025em;
     text-align: right;
    color: limegreen;

}

.mar {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    letter-spacing: -.025em;
    color: deeppink;    
}

.picStyle {
    width:300px;
    height: auto;
   
    padding: 2%;
    
    
}
img {
  height: auto;
  width: 300px;
    display: none;
}
.hover:hover img{
    display:block;
    
}
/* 
nav {
    margin-left: 80%;
    top:5%em;
    right:5%;
    font-family: inherit;
    width:20%;
    text-align: center;
    height: inherit;
    border: 8px solid yellow;
    padding: 1%;
    background-color: #fcfcfc;
    box-sizing: content-box;
    position: fixed;
} */

span.nobreak{
    white-space: nowrap;
}