/* sis_wtf.css */


body {
    width: 100%;
    height: 300vh;
    color: #fcfcfc;
    background: linear-gradient(-55deg, #ff56ff, #00CBFF, #ff56ff, #00CBFF), dodgerblue;
    background-size: 300% 300%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-language-override: 
    font-weight: 900;
    margin-left: 3%;
    margin-top: 2%;
    color: ghostwhite;
    opacity: 85%;

}

/* tried to make it 2 columns but its all fucky
.container {
    
    max-width: 900px;
    height: auto;
    margin-right: 15%
    padding:1%;
} */

.message {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -2%;
    background-color: #fcfcfc;
    opacity: 40%;
    padding: 1%;
    margin-left: 3%;
    border: .5em solid yellow;
    margin-bottom: 2%;
    height: auto;
    width: 55%
}

h2 {

    font-size: .5em;
    letter-spacing: 2.5%;
    text-align: center;
    padding: 1%;
    color: dimgrey;
}

.ben {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    letter-spacing: -.025em;
    text-align: right;
    color: limegreen;

}

.mar {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    letter-spacing: -.025em;
    color: deeppink;
}

.picStyle {
    width: 300px;
    height: auto;
    padding: 2%;
    margin-left: 50%
}

img {
    height: auto;
    width: 300px;
    display: none;
}

.hover:hover img {
    display: block;

}

.hovertwo:hover h1 {
    text-decoration: underline;
    text-decoration-style: solid;
    color: deeppink;
}

/* failed navbar
nav {
    margin-left: 80%;
    top:5%em;
    right:5%;
    font-family: inherit;
    width:20%;
    text-align: center;
    height: inherit;
    border: 8px solid yellow;
    padding: 1%;
    background-color: #fcfcfc;
    box-sizing: content-box;
    position: fixed;
} */
a {
    text-decoration-color: yellow;
}
.pagetwo{
    font-family: neue-haas-grotesk-text, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    float: right;
    margin: 1%;
    margin-right: 3%;
    padding: 2%;
    color: greenyellow;
}
span.nobreak {
    white-space: nowrap;
}

/* trying to make it 2 columns
#macNcheese {
    width: 35%;
    height:inherit;
    float:left
}
#iceCream {
    width:inherit;
    margin-left: 40%;
    height: inherit;
}
#car {
    width:inherit;
    margin-left: 40%;
    height: inherit;
} */
